<div class="jumbotron center">
  <h2>Hey</h2>
  <p>We save your shit.</p>
  <p>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Learn more", sales_path, class: "btn btn-primary btn-lg" %>
  </p>

</div>