
 <%= link_to "View origional", @link.url ,class: "btn btn-primary btn-lg"%>


 <%= link_to @link, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>

            <br>
            <br>

<!-- <div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
       
       -->
<!--       <div class="panel-body"> -->
       
<% if @link.html != nil %> 

<%= @link.html.html_safe %> 

<% end %>

        <%= link_to 'Back', links_path %>
       
 <!--      </div> -->
   <!--  </div>
  </div>
</div> -->








